# CocoaPods
Pods/
Podfile.lock

# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode build
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store

# Previews
.preview-thumbnails

# Firebase
GoogleService-Info.plist
*.symbols

# SwiftLint / SwiftFormat temp files
.swiftlint.yml
.swiftformat
.swiftlint.tmp

# Xcode automatic scheme management
xcshareddata/WorkspaceSettings.xcsettings

# Localization
*.xliff