# MARK: - CocoaPods
Pods/
Podfile.lock

# MARK: - Snapshot Tests
**/__Snapshots__/
*.png

# MARK: - Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace
*.xcuserdata/

# MARK: - Xcode build
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap

# MARK: - App packaging
*.ipa
*.dSYM.zip
*.dSYM

# MARK: - Swift
timeline.xctimeline
playground.xcworkspace

# MARK: - Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm

# MARK: - Carthage
Carthage/Build/
Carthage/Checkouts/

# MARK: - Accio
Dependencies/
.accio/

# MARK: - fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# MARK: - Code Injection
iOSInjectionProject/

# MARK: - macOS
.DS_Store

# MARK: - Previews
.preview-thumbnails

# MARK: - Firebase
GoogleService-Info.plist
*.symbols

# MARK: - SwiftLint / SwiftFormat temp files
.swiftlint.yml
.swiftformat
.swiftlint.tmp

# MARK: - Xcode automatic scheme management
xcshareddata/WorkspaceSettings.xcsettings

# MARK: - Localization
*.xliff